.profil {
  display: flex;
  justify-content: space-evenly;
  &_title {
    align-self: center;
  }
  &_image {
    width: 100px;
  }
}
.albums {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  &_item {
    padding: 1%;
  }
}
