<header>
  <div class="title">
    <h1>Welcome to Spotify API</h1>
    <img class="logo" src="../assets/spotify-logo.png" alt="spotify logo" />
  </div>
  <div class="player">
    <div>
      <img
        class="player_btn"
        src="../assets/play.png"
        alt="play"
        (click)="play()"
      />
      <p>play</p>
    </div>
    <div>
      <img
        class="player_btn"
        src="../assets/pause.png"
        alt="pause"
        (click)="pause()"
      />
      <p>pause</p>
    </div>
  </div>
</header>
<nav class="nav">
  <ul class="nav_ul">
    <li class="nav_li" routerLinkActive="">
      <a routerLink="profil">Profil</a>
    </li>
    <li routerLinkActive=""><a routerLink="search">Search</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
