header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.title {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.player {
  display: flex;
  border: solid black;
  justify-content: space-evenly;
  padding-top: 20px;

  width: 100px;
  margin: auto;

  & p {
    font-size: 0.6rem;
  }
  &_btn {
    width: 20px;
    cursor: pointer;
    &:hover {
      transform: scale(1.5);
    }
  }
}

.nav {
  width: 100vw;
  &_ul {
    border: solid black;
    display: flex;
    justify-content: space-evenly;
  }
}
.logo {
  width: 40px;
  height: 40px;
  padding-left: 2px;
}
